<script setup lang="ts">
import TestItem from '../components/testitem.vue';

</script>

<template>
  <div>
    <TestItem>
      <template #icon>
        <ToolingIcon />
      </template>
    </TestItem>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
