<script setup lang="ts">
import EcosystemIcon from './icons/IconEcosystem.vue'
import CommunityIcon from './icons/IconCommunity.vue'
import WelcomeItem from './WelcomeItem.vue'
import storeAdding from '@/stores/store';

const store = storeAdding()
const totalCal = store.getCal


</script>
<template> 
    <WelcomeItem>
        <template #icon>
            <EcosystemIcon />
        </template>
        <template #heading>You did eat {{totalCal}} calories today</template>
    </WelcomeItem>
</template>