
<script setup lang="ts">
import WelcomeItem from './WelcomeItem.vue'
import DocumentationIcon from './icons/IconDocumentation.vue'
import ToolingIcon from './icons/IconTooling.vue'
import EcosystemIcon from './icons/IconEcosystem.vue'
import CommunityIcon from './icons/IconCommunity.vue'
import SupportIcon from './icons/IconSupport.vue'
import axios from 'axios'
import storeAdding from '../stores/store'
import { ref, type Ref } from 'vue'


var listeChoix = ['']
var ptitList = ['']
var dejList = ['']
var goutList = ['']
var dinList = ['']
var grignList = ['']

const choix = ref()



async function funcToProcessValPtit() {

  listeChoix.push(choix.value)

  const reponse = await axios.get("https://api.nal.usda.gov/fdc/v1/foods/search", {
    params: {
      query: choix.value,
      api_key: "OOuKq8JXjC0rhZwfYktrnoCc5Pm0gSG3pfOBjiPM",
      page_size: 1
    }
  });
  const store = storeAdding()
  store.addPtitList(choix.value)
  ptitList = store.getPtitList

  console.log(store.getPtitList)
  store.addCal(reponse['data']['foods'][0]['foodNutrients'][3]['value'])



}

async function funcToProcessValDej() {

  listeChoix.push(choix.value)

  const reponse = await axios.get("https://api.nal.usda.gov/fdc/v1/foods/search", {
    params: {
      query: choix.value,
      api_key: "OOuKq8JXjC0rhZwfYktrnoCc5Pm0gSG3pfOBjiPM",
      page_size: 1
    }
  });
  const store = storeAdding()
  store.addDejList(choix.value)
  dejList = store.getDejList

  store.addCal(reponse['data']['foods'][0]['foodNutrients'][3]['value'])



}

async function funcToProcessValDiner() {

  listeChoix.push(choix.value)

  const reponse = await axios.get("https://api.nal.usda.gov/fdc/v1/foods/search", {
    params: {
      query: choix.value,
      api_key: "OOuKq8JXjC0rhZwfYktrnoCc5Pm0gSG3pfOBjiPM",
      page_size: 1
    }
  });
  const store = storeAdding()
  store.addDinList(choix.value)
  dinList = store.getDinList

  store.addCal(reponse['data']['foods'][0]['foodNutrients'][3]['value'])



}
async function funcToProcessValGout() {

  listeChoix.push(choix.value)

  const reponse = await axios.get("https://api.nal.usda.gov/fdc/v1/foods/search", {
    params: {
      query: choix.value,
      api_key: "OOuKq8JXjC0rhZwfYktrnoCc5Pm0gSG3pfOBjiPM",
      page_size: 1
    }
  });
  const store = storeAdding()
  store.addGoutList(choix.value)
  goutList = store.getGoutList

  store.addCal(reponse['data']['foods'][0]['foodNutrients'][3]['value'])



}
async function funcToProcessValGrign() {

  listeChoix.push(choix.value)

  const reponse = await axios.get("https://api.nal.usda.gov/fdc/v1/foods/search", {
    params: {
      query: choix.value,
      api_key: "OOuKq8JXjC0rhZwfYktrnoCc5Pm0gSG3pfOBjiPM",
      page_size: 1
    }
  });
  const store = storeAdding()
  store.addGrignList(choix.value)
  grignList = store.getGrignList

  store.addCal(reponse['data']['foods'][0]['foodNutrients'][3]['value'])



}

</script>

<template>
  <WelcomeItem>
    <template #icon>
      <DocumentationIcon />
    </template>
    <template #heading>Petit déjeuner
    </template>

    <div class="dropdown1">
      <select class="dropbtn" v-model="choix" @change="funcToProcessValPtit()">
        <option value="nutella toast">Tartine de Nutella</option>
        <option value="Croissant">Croissant</option>
        <option value="orange juice">Jus D'orange</option>
        <option value="coffee">Café</option>
        <option value="tea">Thé</option>
        <option value="milk">Lait</option>
        <option value="yogurt">Yaourt</option>
        <option value="cereal">Céréales</option>
        <option value="egg">Oeuf</option>
        <option value="bread">Pain</option>
        <option value="butter">Beurre</option>
      </select>
    </div>
    <template #choices>
      {{ ptitList }}
    </template>
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <ToolingIcon />
    </template>
    <template #heading>Déjeuner</template>

    <div>
      <select class="dropbtn" v-model="choix" @change="funcToProcessValDej()">
        <option value="sandwich">Sandwich</option>
        <option value="pasta">Pâtes</option>
        <option value="salad">Salade</option>
        <option value="rice">Riz</option>
        <option value="chicken">Poulet</option>
        <option value="beef">Boeuf</option>
        <option value="fish">Poisson</option>
        <option value="egg">Oeuf</option>
        <option value="cheese">Fromage</option>
        <option value="ice cream">Glace</option>
      </select>




    </div>
    <template #choices>
      {{ dejList }}
    </template>

  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <EcosystemIcon />
    </template>
    <template #heading>Gouter</template>
    <div>
      <select class="dropbtn" v-model="choix" @change="funcToProcessValGout()">
        <option value="cookie">Cookie</option>
        <option value="nutella toast">Tartine de Nutella</option>
        <option value="iced tea">Thé glacé</option>
        <option value="milk">Lait</option>
        <option value="yogurt">Yaourt</option>
        <option value="cereal">Céréales</option>
      </select>
    </div>
    <template #choices>
      {{ goutList }}
    </template>


  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <CommunityIcon />
    </template>
    <template #heading>Diner</template>
    <div>
      <select class="dropbtn" v-model="choix" @change="funcToProcessValDiner()">
        <option value="raclette">Raclette</option>
        <option value="soup">Soupe</option>
        <option value="salad">Salade</option>
        <option value="rice">Riz</option>
        <option value="potato">Pomme de terre</option>
        <option value="chicken">Poulet</option>
        <option value="beef">Boeuf</option>
        <option value="fish">Poisson</option>
        <option value="egg">Oeuf</option>
        <option value="cheese">Fromage</option>
        <option value="yogurt">Yaourt</option>
      </select>
    </div>
    <template #choices>
      {{ dinList }}
    </template>

  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <SupportIcon />
    </template>
    <template #heading>Grignotage</template>
    <div>
      <select class="dropbtn" v-model="choix" @change="funcToProcessValGrign()">
        <option value="cookie">Cookie</option>
        <option value="nutella toast">Tartine de Nutella</option>
        <option value="chips">Chips</option>
        <option value="popcorn">Popcorn</option>
        <option value="apple">Pomme</option>
        <option value="banana">Banane</option>
        <option value="bar of chocolate">Barre de chocolat</option>
        <option value="ice cream">Glace</option>
        <option value="yogurt">Yaourt</option>
      </select>
    </div>
    <template #choices>
      {{ grignList }}
    </template>

  </WelcomeItem>
</template>





<style>
/* Dropdown Button */
.dropbtn {
  background-color: hsla(30, 100%, 37%, 1);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: hsla(25, 100%, 37%, 1);
}
</style>